/* DM sans-regular */
@font-face {
    font-family: 'DM-regular';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/DMSans-Regular.ttf');
}

/* DM sans-medim */
@font-face {
    font-family: 'DM-medim';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/DMSans-Medium.ttf');
}

/* DM sans-bold */
@font-face {
    font-family: 'DM-bold';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/DMSans-Bold.ttf');
}