.breadcrumb {
    width: 100%;
    display: flex;
    gap: 16px;
    align-items: center;
}

.icon {
    display: flex;
    border-radius: var(--border-radius);
    background: var(--gray-22);
    height: 24px;
    width: 24px;
    align-items: center;
    justify-content: center;
    color: var(--primary-6);
    cursor: pointer;
}

.content {
    color: var(--gray-10);
    display: flex;
    gap: 4px;
    align-items: center;
}

.active {
    color: var(--white);
}