@use '../../styles/globalBreakpoints.scss' as *;

.layout {
    color: var(--white);
}

.children {
    margin-left: calc(250px);
    width: calc(100% - 250px);
    height: 100%;
    margin-top: calc(92px + 10px);
    padding: 0 40px;

    @media screen and (max-width: $mobile) {
        margin-left: 0;
        width: 100%;
        margin-bottom: calc(73px + 10px);
    }
}